<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">


    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating: </dt>
          <dd><%= avg_rating(@reviews) %></dd>
        <% if current_user %>
          <dt>Leave a review: </dt>
          <dd>
              <%= form_for([@product, @new_review]) do |f| %>
                <%= f.text_field :description %>
                <%= f.label :rating %>
                <%= f.select :rating, [1, 2, 3, 4, 5] %>
                <%= f.submit "Rate" %>
                <% end %>
          </dd>
        <% end %>
        </dl>
          <% if @reviews.length > 0 %>
          <div>
            <h4>Product Reviews</h4>
          </div>
          <dl class="dl-horizontal">
            <% @reviews.each do |r| %>
            <dt>Rating: <%= r.rating %></dt>
            <dd><%= r.description %>
              <% if current_user && r.user_id == current_user.id %>
                <%= link_to fa_icon('trash'),
                            product_review_url(@product, r),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %></dd>
                <% end %>
            <% end %>
          </dl>
          </dl>
      </article>
        <% end %>
      </div>
    </div>

  </article>

</section>
